@use './mixin.scss' as *;
@use './sidebar.scss' as *;
@use './transition.scss' as *;
@use './update-element.scss' as *;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
