/** 全局SCSS变量 */
html {
  --webkit-scrollbar: 6px;
}
html.dark {
  // 解决菜单暗黑模式 hover 颜色问题
  --el-menu-hover-bg-color: rgb(0 0 0) !important;
}

::-webkit-scrollbar {
  width: var(--webkit-scrollbar);
  height: var(--webkit-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
$webkit-scrollbar-size: var(--webkit-scrollbar); // 滚动条宽度
$navbar-height: 60px; // 导航栏高度
$sidebar-width: 220px; // 侧边栏宽度
$sidebar-width-collapsed: 70px; // 侧边栏收缩宽度
$tags-view-height: 34px; // TagsView 高度
