/* stylelint-disable property-no-unknown */
:export {
  sidebar-width: $sidebar-width;
  navbar-height: $navbar-height;
  sidebar-width-collapsed: $sidebar-width-collapsed;
  webkit-scrollbar-size:$webkit-scrollbar-size;
  tags-view-height:$tags-view-height;
}

/* stylelint-enable property-no-unknown */
